<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="org.apache.logging.log4j.core,net.kencochrane.raven.log4j2">
    <Properties>
        <Property name="PID">????</Property>
        <Property name="LOG_EXCEPTION_CONVERSION_WORD">%xwEx</Property>
        <Property name="LOG_LEVEL_PATTERN">%5p</Property>
        <Property name="FILE_LOG_PATTERN">[%date{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%level][%class][%line]:%message%n
        </Property>
        <Property name="LOG_PATTERN">%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint} %clr{${LOG_LEVEL_PATTERN}}
            %clr{${sys:PID}}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint}
            %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}
        </Property>
        <Property name="LOG_HOME">logs</Property>
    </Properties>
    <Appenders>
        <Console name="Stdout" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>


        <RollingFile name="AllLog" fileName="${LOG_HOME}/all.log" filePattern="${LOG_HOME}/all.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="${FILE_LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <!--<RollingFile name="WarnLog" fileName="${LOG_HOME}/error.log" filePattern="${LOG_HOME}/warn.log.%d{yyyy-MM-dd}.gz">-->
        <!--<Filters>-->
        <!--<ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>-->
        <!--<ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>-->
        <!--</Filters>-->
        <!--<PatternLayout pattern="${FILE_LOG_PATTERN}" />-->
        <!--<Policies>-->
        <!--<TimeBasedTriggeringPolicy/>-->
        <!--</Policies>-->
        <!--</RollingFile>-->

        <RollingFile name="ErrorLog" fileName="${LOG_HOME}/error.log"
                     filePattern="${LOG_HOME}/error.log.%d{yyyy-MM-dd}.gz">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${FILE_LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO" includeLocation="true">
            <appender-ref ref="Stdout"/>
            <appender-ref ref="AllLog"/>
            <!--<appender-ref ref="WarnLog"/>-->
            <appender-ref ref="ErrorLog"/>
        </Root>

        <!--  第三方的软件日志级别 -->
        <Logger name="org.springframework" level="INFO" includeLocation="true" additivity="false">
            <appender-ref ref="Stdout"/>
            <appender-ref ref="AllLog"/>
            <!--<appender-ref ref="WarnLog"/>-->
            <appender-ref ref="ErrorLog"/>
        </Logger>

        <!-- 应用的日志级别  -->
        <Logger name="youxiang" level="INFO" includeLocation="true" additivity="false">
            <appender-ref ref="Stdout"/>
            <appender-ref ref="AllLog"/>
            <!--<appender-ref ref="WarnLog"/>-->
            <appender-ref ref="ErrorLog"/>
        </Logger>
    </Loggers>
</Configuration>
