<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljfl.server.dao.mapper.manual.UserSignPOManualMapper">
    <resultMap id="BaseResultMap" type="com.ljfl.server.domain.po.UserSignPO" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="sign_type" property="signType" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
        <result column="note" property="note" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, sign_type, create_time, update_time, is_delete, note
   </sql>
    <select id="countSignUser" resultType="java.lang.Long">
        select count(*) from user_sign  where is_delete='0' and user_id = #{userId,jdbcType=VARCHAR} and create_time &gt;= #{beginDate} and create_time &lt;= #{endDate}
    </select>
    <select id="listUserSign" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_sign where is_delete='0' and user_id = #{userId,jdbcType=VARCHAR} and create_time &gt;= #{beginDate} and
        create_time &lt; #{endDate} order by create_time
    </select>

</mapper>